---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/channels.list?exclude_archived=1&pretty=1&token=xoxp-38644938452-63019586116-97084956518-01e0f2d0f5f102e02d35f463a318ba76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
      X-Slack-Backend:
      - h
      X-Slack-Req-Id:
      - 6e8cb66f-f68a-4242-a0d4-38c69cda7ec8
    body:
      encoding: ASCII-8BIT
      string: |
        {
            "ok": true,
            "channels": [
                {
                    "id": "C14UN1PV2",
                    "name": "ada-announcements",
                    "is_channel": true,
                    "created": 1461948067,
                    "creator": "U14K14WFQ",
                    "is_archived": false,
                    "is_general": false,
                    "is_member": true,
                    "members": [
                        "U14K14WFQ",
                        "U14UYC5A8",
                        "U1A0NHGF3",
                        "U1A0W92LT",
                        "U1A1A6CJG",
                        "U1A1F3KLN",
                        "U1A1G49L4",
                        "U1A1HA8AY",
                        "U1A1KMZ4G",
                        "U1A1KRML0",
                        "U1A1LGMJL",
                        "U1A1LP2S3",
                        "U1A1LP83H",
                [...]
